<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>No</th>
            <th>Description</th>
            <th>Origin</th>
            
        </tr>
    </thead>
    <tbody>
        {% for threat in threat_list %}
        <tr>
            <td>{{ threat.category }}</td>
            <td><a href="">{{ threat.no }}</a></td>
            <td>{{ threat.description }}</td>
            <td>{{ threat.origin }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}